<div class="page-inspired">
  
  <div class="section-one py-0 d-flex align-items-center justify-content-center">
    <div class="w-100">
      <div class="background-holder d-flex flex-column align-items-center justify-content-center">

        <div class="d-flex flex-lg-row flex-column justify-content-end">
          <div class="left-side col-lg-5 col-12 mb-lg-0 mb-5">
            <div class="text-holder my-5 py-5 col-lg-6 col-11 px-lg-0 px-3">
              <h3 class="SectionHeader__SubHeading Heading u-h6">Get Inspired</h3>
              <h2 class="SectionHeader__Heading Section Header__Heading--emphasize Heading u-h1">WHAT'S HOLDING YOUR STYLE TOGETHER ?</h2>
            </div>
            <div class="image-holder mt-lg-5 mt-0 pt-lg-5 pt-0">
            	<img src="{{ 'inspired-1.png'| asset_url }}">
            </div>
          </div>
          <div class="right-side col-lg-5 col-12">
            <img class="w-100" src="{{ 'inspired-2.png'| asset_url }}">
          </div>
        </div>
        <div class="d-felx flex-lg-row flex-column my-5 py-5 col-12">
           <h2 class="SectionHeader__Heading Section Header__Heading--emphasize Heading u-h1 text-center">
              Lorem ipsum dolor sit amet
           </h2>
          <p class="text-center col-lg-5 col-12 p-0 mx-auto">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          </p>
        </div>
          
      </div>
    </div>
  </div>
  
  <div class="featured-collection-holder py-5">
    {% section 'unisex-featured-collection' %}
  </div>
  
   <div class="section-three py-0 d-flex align-items-center justify-content-center">
    <div class="w-100">
      <div class="d-flex flex-column align-items-center justify-content-center">

        <div class="d-flex flex-lg-row flex-column justify-content-between w-100">
          <div class="image-holder">
          	<img src="{{ 'inspired-man-1.png'| asset_url }}">
          </div>
           <div class="image-holder px-lg-4 px-0 py-lg-0 py-5">
          	<img src="{{ 'inspired-man2.png'| asset_url }}">
          </div> <div class="image-holder">
          	<img src="{{ 'inspired-man-3.png'| asset_url }}">
          </div>
        </div>
        
        <div class="">
           <div class="d-felx flex-lg-row flex-column my-5 py-5 col-12">
            <p class="text-center col-lg-5 col-12 p-0 mx-auto">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            </p>
          </div>
        </div>
        
         <div class="featured-collection-holder-man w-100 mb-5">
            {% section 'featured-collection-men' %}
        </div>
          
      </div>
    </div>
  </div>
  
   <div class="section-three py-0 d-flex align-items-center justify-content-center">
    <div class="w-100">
       <div class="d-flex flex-column align-items-center justify-content-center">

          <div class="d-flex flex-lg-row flex-column justify-content-between w-100">
            <div class="image-holder pr-lg-3 pr-0">
              <img src="{{ 'inspired-women-2.png'| asset_url }}">
            </div>
             <div class="image-holder pt-lg-0 pt-5 pl-lg-3 pl-0">
              <img src="{{ 'inspired-women-1.png'| asset_url }}">
            </div>
          </div>

          <div class="">
             <div class="d-felx flex-lg-row flex-column my-5 py-5 col-12">
              <p class="text-center col-lg-5 col-12 p-0 mx-auto">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
              </p>
            </div>
          </div>

           <div class="featured-collection-holder-man w-100 mb-5">
             {% section 'featured-collection-women' %}
          </div>

        </div>
      </div>
  </div>
  
</div>

